<oj-validation-group
    :id="[['tracker'+tipoPersona]]"
    valid="{{groupValid}}">
    <oj-c-form-layout max-columns="3" direction="row">
        <oj-c-input-text value="{{persona().nombre}}"  label-hint="Nombre o Razón Social" autocomplete="off" required required-message-detail="Dato requerido"></oj-c-input-text>
        <oj-c-input-text value="{{persona().apellidoPaterno}}" label-hint="Apellido Paterno" autocomplete="off" disabled="[[moral]]" required required-message-detail="Dato requerido"></oj-c-input-text>
        <oj-c-input-text value="{{persona().apellidoMaterno}}" label-hint="Apellido Materno" autocomplete="off" disabled="[[moral]]" required required-message-detail="Dato requerido"></oj-c-input-text>
        <oj-c-input-text value="{{persona().curp}}" label-hint="CURP" autocomplete="off" disabled="[[moral]]" required required-message-detail="Dato requerido" validators="[[curpValidator]]"></oj-c-input-text>
        <oj-c-input-text value="{{persona().rfc}}" label-hint="RFC" autocomplete="off" required="[[moral]]" required-message-detail="Dato requerido"></oj-c-input-text>
        <div class="oj-flex">
            <div class="oj-flex-item oj-sm-6">
                <oj-c-checkbox :id="[[tipoPersona + 'PM']]" value="{{persona().personaMoral}}" on-value-changed="[[valueChangeHandler]]">Persona Moral</oj-c-checkbox>
            </div>
            <div class="oj-flex-item oj-sm-6">
                <oj-c-button
                :id="[['busca' + tipoPersona]]"
                    slot="end"
                    display="icons"
                    size="sm"
                    chroming="solid" label="Buscar Persona"
                    on-oj-action="[[btnFindPersona]]">
                    <span slot="startIcon" class="oj-ux-ico-search"></span>
                </oj-c-button>
                <oj-c-button
                    :id="[['detalle' + tipoPersona]]"
                    slot="end"
                    display="icons"
                    size="sm"
                    chroming="solid" label="Detalle de Persona"
                    on-oj-action="[[btnPersonaDetalle]]"
                    disabled="[[!persona().id]]">
                    <span slot="startIcon" class="oj-ux-ico-view"></span>
                </oj-c-button>
            </div>
        </div>
    </oj-c-form-layout>
</oj-validation-group>
