<h4>Mediadores</h4>
<div class="oj-panel">
  <oj-c-button label="Agregar" on-oj-action="[[agregarmediador]]" data-oj-clickthrough="disabled"
    disabled="[[mediadorSeleccionado]]">
    <span slot="startIcon" class="oj-ux-ico-plus"></span>
  </oj-c-button>


  <oj-table id="mediadores" data="[[dataProvider]]" class="tabla oj-sm-margin-2x-bottom"
    columns-default='{"sortable": "disabled"}' selection-mode.row="single"
    first-selected-row="{{mediadorSeleccionado}}"
    scroll-policy="loadMoreOnScroll"
    on-first-selected-row-changed="[[firstSelectedRowChangedListener]]"
    scroll-policy-options.fetch-size="15" columns='[
    {"headerText":"ID", "field":"id","minWidth":"50"},
    {"headerText":"Número", "field":"numero", "minWidth":"200" },
    {"headerText":"Certificado", "field":"certificado"},
    {"headerText":"Estatus", "field":"estatus", "id": "estatus_id" },
    {"headerText":"Supervisado por", "field": "supervisadoPor.nombreCompleto",  "minWidth":"100"},
    {"headerText":"Usuario", "field":"usuario.nombreCompleto", "minWidth":"100"},
    {"headerText": "Detalle",
    "maxWidth": "10rem",
    "sortable": "disabled",
    "headerStyle": "text-align: center;",
    "frozenEdge": "end",
    "style":"text-align: center; padding-top: 0px; padding-bottom: 0px;",
    "template": "actionTemplate", "id": "action" }]'>
    
    <template slot="actionTemplate" data-oj-as="cell">
      <oj-c-button chroming="borderless" display="icons" on-oj-action="[[detallemediador]]"
        data-oj-clickthrough="disabled">
        <span slot="startIcon" class="oj-ux-ico-add-edit-page"></span>
      </oj-c-button>
    </template>
     
  </oj-table>

  <oj-bind-if test="[[mediadorSeleccionado()]]">

    <div class="oj-panel oj-bg-info-10">
      <h1 class="oj-typography-heading-xs">Mediador </h1>
      <oj-validation-group id="trackerMediador" valid="{{groupValid}}" role="group">

        <oj-c-form-layout id="personal-information" direction="row" max-columns="3">
          <oj-c-input-text id="numeroId" label-hint="Número" required="true" value="{{ numero }}"
            autocomplete="off"></oj-c-input-text>

          <oj-c-input-text id="certificadoId" label-hint="Certificado" required="true"
            value="{{ certificado }}" autocomplete="off"></oj-c-input-text>


          <oj-switch id="estatusId" label-hint="Estatus" id="enabledSwitchOn"
            value="{{ estatus }}"></oj-switch>

          <oj-c-select-single id="supervisorID" data="[[dataProviderPersonas]]" item-text="label"
            value=" {{ supervisado_por }} " label-hint="Supervisado por" required="true"></oj-c-select-single>

          <oj-c-select-single id="usuarioId" data="[[dataProviderPersonas]]" item-text="label"
            value=" {{ usuario }} " label-hint="Usuario" required="true"></oj-c-select-single>

        </oj-c-form-layout>

      </oj-validation-group>
    </div>

    <oj-toolbar chroming="outlined">

        <oj-c-button label="Cancelar" on-oj-action="[[cancelar]]" data-oj-clickthrough="disabled">
          <span slot="startIcon" class="oj-ux-ico-cancel"></span>
        </oj-c-button>


      <oj-c-button label="Guardar" on-oj-action="[[guardar]]" data-oj-clickthrough="disabled" chroming="callToAction">
        <span slot="startIcon" class="oj-ux-ico-save"></span>
      </oj-c-button>

    </oj-toolbar>
  </oj-bind-if>


</div>