<div id="formLogin" class="oj-panel">
    <oj-c-form-layout max-columns="1" direction="row">
        <oj-c-input-text label-hint="Nombre de Usuario" value="{{userName}}" required></oj-c-input-text>
        <oj-c-input-password id="passwd" label-hint="Password" clear-icon="conditional" value="{{passwd}}" required></oj-c-input-password>
        <oj-c-button label="Ingresar" chroming="callToAction" on-oj-action="[[iniciarSesion]]"><span slot="startIcon" class="oj-ux-ico-log-in"></span></oj-c-button>
    </oj-c-form-layout>
</div>