<h2>Mediación</h2>
<div class="oj-panel">
    <h4 class="oj-helper-text-align-center">Solicitudes</h4>
    <div>
        <oj-c-button label="Nueva" on-oj-action="[[btnNuevaSolicitud]]" size="lg" disabled="[[solicitudDetalle]]"><span slot="startIcon" class="oj-ux-ico-plus"></span></oj-c-button>
        <oj-c-input-text
        id="filtro"
        class="oj-form-control-max-width-md"
        label-hint="Filtro"
        label-edge="inside"
        placeholder="Buscar por Num. de Solicitud"
        clear-icon="always"
        on-raw-value-changed="[[handleValueChanged]]"
        value="{{filtro}}"
        disabled="[[solicitudDetalle]]"></oj-c-input-text>
    </div>
    <oj-table id="solicitudes" class="tabla"
    data='[[dataProvider]]'
    columns='[
        {"headerText":"Número", "field":"folio"},
        {"headerText":"Fecha de solicitud", "field":"fechaSolicitud", "template":"fechaTemplate", "id":"fechaSolicitud"},
        {"headerText":"Materia", "field":"materia.descripcion"},
        {"headerText":"Nombre u Razón Usuario", "field":"usuarioPersona.nombreCompleto"},
        {"headerText":"Estatus", "field":"estatus", "template":"estatusTemplate"},
        {"headerText":"Seguimiento", "field":"seguimiento"},
        {"headerText":"", "width":"150", "template":"botonesTemplate"}
    ]'
    selection-mode.row="single"
    first-selected-row="{{solicitudSeleccionada}}"
    on-first-selected-row-changed="[[firstSelectedRowChangedListener]]"
    scroll-policy="loadMoreOnScroll"
    scroll-policy-options.fetch-size="10">
        <template slot="estatusTemplate" data-oj-as="item">
            <oj-c-select-single 
            id = "estatusSolicitud"
            data="[[estadoSolicitudDP]]" 
            item-text="label" 
            value="{{item.data}}"
            label-hint="Estatus"
            readonly></oj-c-select-single>
        </template>
        <template slot="fechaTemplate" data-oj-as="item">
            <oj-bind-text value="[[dateConverter(item.data)]]"></oj-bind-text>
        </template>
        <template slot="botonesTemplate" data-oj-as="cell">
            <oj-c-button label="Editar" display="icons" chroming="borderless" size="sm" on-oj-action="[[btnEditarSolicitud]]"><span slot="startIcon" class="oj-ux-ico-edit"></span></oj-c-button>
            <oj-c-button label="Imprimir" display="icons" chroming="borderless" size="sm" on-oj-action="[[btnOpen]]"><span slot="startIcon" class="oj-ux-ico-print"></span></oj-c-button>
            <oj-c-button label="Borrar" display="icons" chroming="borderless" size="sm"><span slot="startIcon" class="oj-ux-ico-delete-all"></span></oj-c-button>
        </template>
    </oj-table>
    <oj-bind-if test="[[solicitudSeleccionada()]]">
        <div id="solicitud" class="oj-panel oj-sm-margin-2x-top">
            <h4 class="oj-typography-subheading-xs">Datos generales</h4>
            <oj-validation-group
            id="trackerSolicitud"
            valid="{{groupValid}}"
            role="group">
                <oj-c-form-layout max-columns="3" direction="row" >
                    <oj-c-input-text id="solicitudId" value="{{solicitudId}}" label-hint="ID" readonly></oj-c-input-text>
                    <oj-c-input-text id="solicitudFolio" value="{{solicitudFolio}}" label-hint="Folio" readonly></oj-c-input-text>
                    <oj-input-date id="fechaSolicitud" value="{{solicitudFecha}}" label-hint="Fecha de Solicitud"
                        converter="[[dateConverterInput]]"
                        min="[[minFecha]]"
                        max="[[maxFecha]]"
                        readonly="[[solicitudId()]]"
                        required></oj-input-date>
                    <oj-c-select-single 
                        id = "selectMateria"
                        data="[[materiasDP]]" 
                        item-text="descripcion" 
                        value="{{solicitudMateriaId}}"
                        on-oj-value-action="[[valueActionHandler]]"
                        label-hint="Materia"
                        required="true"
                        required-message-detail="Seleccione el Tipo de Materia"
                        help.instruction="Seleccione el Tipo de Materia">
                    </oj-c-select-single>
                    <oj-c-select-single
                        id = "selectTipoApertura" 
                        data="[[tipoAperturaDP]]" 
                        item-text="descripcion" 
                        value="{{solicitudTipoAperturaId}}"
                        on-oj-value-action="[[valueActionHandler]]"
                        label-hint="Apertura"
                        required
                        required-message-detail="Seleccione el Tipo de Apertura"
                        help.instruction="Seleccione el Tipo de Apertura">
                    </oj-c-select-single>
                    <oj-c-text-area 
                        id="descripcion"
                        column-span="3" value="{{solicitudDescripcion}}" 
                        label-hint="Descripción del Conflicto" 
                        rows="4"
                        required
                        required-message-detail="Describa el conflicto"
                        help.instruction="Describa brevemente el conflicto"
                        validators="[[requeridoValidator]]">
                    </oj-c-text-area>
                </oj-c-form-layout>
            </oj-validation-group>
        </div>

        <div class="oj-panel oj-sm-margin-2x-vertical">
            <h4 class="oj-typography-subheading-xs">Datos del Usuario</h4>
                <oj-module id="usuario" config="[[moduleInfoPersona('Usuario')]]"></oj-module>

            <h4 class="oj-typography-subheading-xs">Datos del Invitado</h4>
                <oj-module id="invitado" config="[[moduleInfoPersona('Invitado')]]"></oj-module>
        </div>
        
        <oj-toolbar chroming="outlined">
            <oj-c-button id="btnCancelar" label="Cancelar" on-oj-action="[[btnCancelarSolicitud]]" ><span slot="startIcon" class="oj-ux-ico-cancel"></span></oj-c-button>
            <oj-c-button id="btnGuardar" label="Guardar" on-oj-action="[[btnGuardarSolicitud]]" chroming="callToAction"><span slot="startIcon" class="oj-ux-ico-save"></span></oj-c-button>
            <oj-c-button id="btnImprimir" label="Imprimir" on-oj-action="[[btnOpen]]" disabled="[[!solicitudId()]]"><span slot="startIcon" class="oj-ux-ico-print"></span></oj-c-button>
        </oj-toolbar>
    </oj-bind-if>
</div>


<!-- Modal para  la visualización de PDF -->
<oj-dialog id="modalPDF" dialog-title="Solicitud" aria-describedby="desc" style="width: 90vw; height: 90vh;">
    <div slot="body">
      <iframe id="pdfHolder" :src="[[dataPDF]]" style="height: 60vh; width: 99%;">
      </iframe>
    </div>
    <div slot="footer">
      <oj-c-button id="okButton" on-oj-action="[[btnClose]]" label="OK"></oj-c-button>
    </div>
</oj-dialog>


<!-- Modal para la visualización de los detalles de la Persona Seleccionada -->
<oj-dialog id="modalPersona" dialog-title="Detalle de Persona" aria-describedby="desc" style="width: 90vw; height: 90vh;" cancel-behavior="escape">
    <div slot="body">
        <oj-module
            config="[[moduleDetallePersona]]"></oj-module>
    </div>
    <div slot="footer">
        <oj-c-button id="cancelButtonPersona" on-oj-action="[[btnClose]]" label="Cerrar"></oj-c-button>
        <!--<oj-c-button id="okButtonPersona" on-oj-action="[[btnClose]]" label="OK"></oj-c-button>-->
    </div>
</oj-dialog>